/* Custom Styles */
body {
  font-family: "Roboto", sans-serif;
}

.App {
  margin: 0 auto;
  max-width: 800px;
  padding: 2rem;
}

.App form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.App table {
  width: 100%;
  margin-top: 2rem;
  border-collapse: collapse;
}

.App table th,
.App table td {
  border: 1px solid #ccc;
  padding: 0.75rem;
}

.App table th {
  background-color: #282c34;
  color: white;
}

.App table img {
  width: 100px;
}

.App button {
  margin-top: 1rem;
}

.UploadImageLabel {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.UploadImageLabel:hover {
  background-color: #e0e0e0;
}

.CreateNoteButton {
  margin-top: 0rem !important;
}

.Navbar {
  background-color: #333;
  padding: 1rem;
  text-align: center;
  /* position: sticky; */
  top: 0;
  z-index: 1;
  width: 100%;
}

.subheading{
  margin-top: 3rem !important;
  margin-bottom: -1.5rem !important;
}

.Navbar h1 {
  color: #fff;
  margin: 0;
}

.NavbarLine {
  width: 100%;
  height: 7px;
  background-color: #037D95;
  
}


.Subtitle {
  font-size: 1.2rem !important;
  color: #fff !important;
  margin-top: 0.5rem;
}

.CenteredButton {
  display: block !important;
  margin: 2rem auto !important;
}
